<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Lista produktów</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
<h1>Produkty</h1>
<div class="product-list">
    {% for product in products %}
        <div class="product">
            <div class="image-placeholder">
                <!-- Miejsce na zdjęcie -->
                <div class="zdjecie">
                    <img src="{{ asset('zdjeciaprod/' ~ product.id ~ '.jpg') }}" alt="Zdjęcie produktu">
                </div>

            </div>
            <h2>{{ product.nazwa }}</h2>
            <p>{{ product.cena }} zł</p>
            <a href="{{ path('cart_add', {'id': product.id}) }}">
                <button type="button">Dodaj do koszyka</button>
            </a>
        </div>
    {% endfor %}
</div>
<div class="cart-link">
    <a href="{{ path('cart_show') }}">Przejdź do koszyka</a>
</div>
</body>
</html>
